[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
pandas = "*"
alpaca-py = "*"
pyarrow = "*"
matplotlib = "*"
seaborn = "*"
bokeh = "*"
plotly = "*"
websocket-client = "*"
rel = "*"
keyboard = "*"
alpaca-trade-api = "*"

[dev-packages]

[requires]
python_version = "3.10"
